/* Amber Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
	--primary: #ffb300;
	--primary-hover: #ffa000;
	--primary-focus: rgba(255, 179, 0, 0.125);
	--primary-inverse: rgba(0, 0, 0, 0.75);
}

/* Amber Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		--primary: #ffb300;
		--primary-hover: #ffc107;
		--primary-focus: rgba(255, 179, 0, 0.25);
		--primary-inverse: rgba(0, 0, 0, 0.75);
	}
}

/* Amber Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
	--primary: #ffb300;
	--primary-hover: #ffc107;
	--primary-focus: rgba(255, 179, 0, 0.25);
	--primary-inverse: rgba(0, 0, 0, 0.75);
}

/* Amber (Common styles) */
:root {
	--form-element-active-border-color: var(--primary);
	--form-element-focus-color: var(--primary-focus);
	--switch-color: var(--primary-inverse);
	--switch-checked-background-color: var(--primary);
}


/* Custom */
html {
	scrollbar-gutter: stable;
}

h1,
h2,
h3 {
	font-family: 'Calistoga', cursive;
	font-weight: 500;
	font-display: swap;
}

.grid>a {
	margin-bottom: 1rem;
}

code {
	margin-bottom: var(--spacing);
}

#delete {
	border-color: salmon;
	color: salmon;
}

#delete-action {
	border-color: salmon;
	background-color: salmon;
	color: var(--color);
}

@media only screen and (prefers-color-scheme: light) {
	#delete {
		border-color: #ce1d2c;
		color: #ce1d2c;
	}

	#delete-action {
		border-color: #e63946;
		background-color: #e63946;
		color: var(--contrast-inverse);
	}
}